In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt # visualizing data
%matplotlib inline
import seaborn as sns
import datetime

df=pd.read_csv('imdb_movies.csv', encoding = 'unicode_escape')
df.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama,Â Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction,Â Adventure,Â Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe SaldaÃ±a, Ney...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation,Â Adventure,Â Family,Â Fantasy,Â Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,"Animation,Â Comedy,Â Family,Â Adventure,Â Fantasy","Through a series of unfortunate events, three ...","Ãscar BarberÃ¡n, Thut (voice), Ana Esther Alb...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10178 entries, 0 to 10177
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   names       10178 non-null  object
 1   date_x      10178 non-null  object
 2   score       10178 non-null  float64
 3   genre       10093 non-null  object
 4   overview    10178 non-null  object
 5   crew        10122 non-null  object
 6   orig_title  10178 non-null  object
 7   status      10178 non-null  object
 8   orig_lang   10178 non-null  object
 9   budget_x    10178 non-null  float64
 10  revenue     10178 non-null  float64
 11  country     10178 non-null  object
dtypes: float64(3), object(9)
memory usage: 954.3+ KB

In [3]:
df.columns

Index(['names', 'date_x', 'score', 'genre', 'overview', 'crew', 'orig_title',
       'status', 'orig_lang', 'budget_x', 'revenue', 'country'],
      dtype='object')

In [4]:
df['genre'].unique

<bound method Series.unique of 0                                           Drama,Â Action
1                     Science Fiction,Â Adventure,Â Action
2        Animation,Â Adventure,Â Family,Â Fantasy,Â Comedy
3        Animation,Â Comedy,Â Family,Â Adventure,Â Fantasy
4                                                   Action
                               ...
10173                                                Drama
10174                                               Action
10175                           Drama,Â Thriller,Â Romance
10176    Action,Â Adventure,Â Science Fiction,Â Thrille...
10177                         Animation,Â Family,Â Fantasy
Name: genre, Length: 10178, dtype: object>

In [5]:
df['genre'] = df['genre'].str.replace('Â',' ')

In [6]:
df.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe SaldaÃ±a, Ney...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Ãscar BarberÃ¡n, Thut (voice), Ana Esther Alb...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US

In [7]:
df.columns

Index(['names', 'date_x', 'score', 'genre', 'overview', 'crew', 'orig_title',
       'status', 'orig_lang', 'budget_x', 'revenue', 'country'],
      dtype='object')

In [8]:
df.rename(columns = {'date_x' : 'date', 'budget_x': 'budget'}, inplace =True)
df.columns

Index(['names', 'date', 'score', 'genre', 'overview', 'crew', 'orig_title',
       'status', 'orig_lang', 'budget', 'revenue', 'country'],
      dtype='object')

In [9]:
df.isna().sum()

names          0
date           0
score          0
genre         85
overview       0
crew          56
orig_title     0
status         0
orig_lang      0
budget         0
revenue        0
country        0
dtype: int64

In [10]:
df.dropna(inplace = True)

In [11]:
df.isna().sum()

names         0
date          0
score         0
genre         0
overview      0
crew          0
orig_title    0
status        0
orig_lang     0
budget        0
revenue       0
country       0
dtype: int64

In [12]:
df.dtypes

names          object
date           object
score         float64
genre          object
overview       object
crew           object
orig_title     object
status         object
orig_lang      object
budget        float64
revenue       float64
country        object
dtype: object

In [13]:
df['date'] = pd.to_datetime(df.date)

In [14]:
df.dtypes

names                 object
date          datetime64[ns]
score                float64
genre                 object
overview              object
crew                  object
orig_title            object
status                object
orig_lang             object
budget               float64
revenue              float64
country               object
dtype: object

In [15]:
df.describe()

                                date        score        budget       revenue
count                          10052  10052.00000  1.005200e+04  1.005200e+04
mean   2008-06-07 16:17:25.762037504     63.82700  6.412528e+07  2.512049e+08
min              1903-05-15 00:00:00      0.00000  1.000000e+00  0.000000e+00
25%              2002-01-08 06:00:00     59.00000  1.439763e+07  2.768781e+07
50%              2013-04-10 00:00:00     65.00000  5.000000e+07  1.493288e+08
75%              2019-09-26 00:00:00     71.00000  1.040000e+08  4.161578e+08
max              2023-12-31 00:00:00    100.00000  4.600000e+08  2.923706e+09
std                              NaN     12.78271  5.665852e+07  2.765495e+08